/packages
/ConnectionDB/ConnectionDB.csproj
/ConnectionDB/ConnectionDB.csproj.user
/ConnectionDB/MySystemManagement/WebDataDB.cs
/ConnectionDB/Properties/AssemblyInfo.cs
/ConnectionDB/Web.Debug.config
/ConnectionDB/Web.Release.config
/ConnectionDB/Web.config
/ConnectionDB/bin/ConnectionDB.dll
/ConnectionDB/bin/ConnectionDB.dll.config
/ConnectionDB/bin/ConnectionDB.pdb
/ConnectionDB/obj/Debug/ConnectionDB.csproj.FileListAbsolute.txt
/ConnectionDB/obj/Debug/ConnectionDB.csprojResolveAssemblyReference.cache
/ConnectionDB/obj/Debug/ConnectionDB.dll
/ConnectionDB/obj/Debug/ConnectionDB.pdb
/ConnectionDB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ConnectionDB/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConnectionDB/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConnectionDB/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConnectionDB/packages.config
/MySystem/bin/MySystem.dll
/MySystem/bin/MySystem.pdb
/MySystem/obj/Debug/MySystem.dll
/MySystem/obj/Debug/MySystem.pdb
