<#@ template language="C#" debug="True" hostspecific="True" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Data" #>
<#@ assembly name="System.xml" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Data.SqlClient" #>
<#@ import namespace="System.Data" #>

using System;
using System.ComponentModel.DataAnnotations;

//todo: 請修改對應的namespace
namespace ConnetDB.Models
{        
<#
	//修改connection string
	string connectionString = "Data Source=mysystemdb.cswcz4f3edtf.ap-southeast-1.rds.amazonaws.com,1433;Initial Catalog=MySystemDB;Persist Security Info=True;User ID=MySystemDB;Password=Mm15681568"; 
	SqlConnection conn = new SqlConnection(connectionString); 
	conn.Open(); 
	
	//如果需要database中全部table，則使用conn.GetSchema("Tables")即可
	string[] restrictions = new string[4];
	restrictions[1] = "dbo";
	//修改table名稱
	restrictions[2] = "TB_Calendar";
	DataTable schema = conn.GetSchema("Tables", restrictions);
	
	string selectQuery = "select * from  @tableName"; 
	SqlCommand command = new SqlCommand(selectQuery,conn); 
	SqlDataAdapter ad = new SqlDataAdapter(command); 
	System.Data.DataSet ds = new DataSet(); 
	
	foreach(System.Data.DataRow row in schema.Rows) 
	{#>             
	//mapping table name: <#= row["TABLE_NAME"].ToString().Trim('s') #>
	public class <#= row["TABLE_NAME"].ToString().Trim('s') #>                            
	{
		<# command.CommandText = selectQuery.Replace("@tableName",row["TABLE_NAME"].ToString()); 
	       ad.FillSchema(ds, SchemaType.Mapped, row["TABLE_NAME"].ToString());

	foreach (DataColumn dc in ds.Tables[0].Columns)
	   {#>
 [Display(Name="<#= dc.ColumnName #>")]                        
	   public <#= dc.DataType.Name #> <#= dc.ColumnName #>  { get; set; }
	   <#}#>                                
	}                            
<#}#>
}